<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ag_allow_gain_times">

    <select id="selectLockByUid" parameterType="INTEGER" resultMap="BaseResultMap">
        <include refid="ag_allow_gain_times.SELECT_All_Column"/>
        FROM ag_allow_gain_times
        WHERE uid = #{uid,jdbcType=INTEGER} FOR UPDATE
    </select>

</mapper>