<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ag_banner">
    <resultMap id="BaseResultMap" type="com.aigou.oss.model.AgBanner">
        <id column="banner_id" property="bannerId" jdbcType="INTEGER"/>
        <result column="banner_title" property="bannerTitle" jdbcType="VARCHAR"/>
        <result column="banner_img" property="bannerImg" jdbcType="VARCHAR"/>
        <result column="banner_url" property="bannerUrl" jdbcType="VARCHAR"/>
        <result column="shop_id" property="shopId" jdbcType="INTEGER"/>
        <result column="banner_order" property="bannerOrder" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT banner_id, banner_title, banner_img, banner_url, shop_id, 
        banner_order
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.aigou.oss.model.AgBanner">
        <include refid="ag_banner.SELECT_All_Column"/>
        FROM ag_banner
        WHERE banner_id = #{bannerId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.aigou.oss.model.AgBanner">
        DELETE FROM ag_banner
        WHERE banner_id = #{bannerId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.aigou.oss.model.AgBanner">
        INSERT INTO ag_banner ( banner_title, 
          banner_img, banner_url, shop_id, 
          banner_order )
        VALUES ( #{bannerTitle,jdbcType=VARCHAR}, 
          #{bannerImg,jdbcType=VARCHAR}, #{bannerUrl,jdbcType=VARCHAR}, #{shopId,jdbcType=INTEGER}, 
          #{bannerOrder,jdbcType=TINYINT} )
        <selectKey keyProperty="bannerId" resultType="int">
            SELECT LAST_INSERT_ID() AS bannerId
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.aigou.oss.model.AgBanner">
        INSERT INTO ag_banner
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="bannerTitle != null">
                banner_title,
            </if>
            <if test="bannerImg != null">
                banner_img,
            </if>
            <if test="bannerUrl != null">
                banner_url,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="bannerOrder != null">
                banner_order,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="bannerTitle != null">
                #{bannerTitle,jdbcType=VARCHAR},
            </if>
            <if test="bannerImg != null">
                #{bannerImg,jdbcType=VARCHAR},
            </if>
            <if test="bannerUrl != null">
                #{bannerUrl,jdbcType=VARCHAR},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="bannerOrder != null">
                #{bannerOrder,jdbcType=TINYINT},
            </if>
        </trim>
        <selectKey keyProperty="bannerId" resultType="int">
            SELECT LAST_INSERT_ID() AS bannerId
        </selectKey>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO ag_banner ( banner_title, 
          banner_img, banner_url, shop_id, 
          banner_order )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.bannerTitle,jdbcType=VARCHAR}, 
            #{item.bannerImg,jdbcType=VARCHAR}, #{item.bannerUrl,jdbcType=VARCHAR}, #{item.shopId,jdbcType=INTEGER}, 
            #{item.bannerOrder,jdbcType=TINYINT}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aigou.oss.model.AgBanner">
        UPDATE ag_banner
        <set>
            <if test="bannerTitle != null">
                banner_title = #{bannerTitle,jdbcType=VARCHAR},
            </if>
            <if test="bannerImg != null">
                banner_img = #{bannerImg,jdbcType=VARCHAR},
            </if>
            <if test="bannerUrl != null">
                banner_url = #{bannerUrl,jdbcType=VARCHAR},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="bannerOrder != null">
                banner_order = #{bannerOrder,jdbcType=TINYINT},
            </if>
        </set>
        WHERE banner_id = #{bannerId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aigou.oss.model.AgBanner">
        UPDATE ag_banner
        SET banner_title = #{bannerTitle,jdbcType=VARCHAR},
            banner_img = #{bannerImg,jdbcType=VARCHAR},
            banner_url = #{bannerUrl,jdbcType=VARCHAR},
            shop_id = #{shopId,jdbcType=INTEGER},
            banner_order = #{bannerOrder,jdbcType=TINYINT}
        WHERE banner_id = #{bannerId,jdbcType=INTEGER}
    </update>
</mapper>