<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ag_category">

    <select id="getAllCategory" resultMap="BaseResultMap">
        <include refid="ag_category.SELECT_All_Column"/>
        FROM ag_category
        ORDER BY 'order'  ASC
    </select>
</mapper>