<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ag_user_channel">

    <select id="selectPeopleCountByRelation" parameterType="map" resultType="Integer">
        SELECT COUNT(id)
        FROM ag_user_channel
        WHERE package_name = #{packageName,jdbcType=VARCHAR}
        AND channel_name = #{channelName,jdbcType=VARCHAR}
        AND LEFT (create_time, 10) = #{today,jdbcType=VARCHAR}
    </select>

    <!--查询每天的新增用户-->
    <select id="selectDayStatisticsDayByDay" resultType="com.aigou.oss.model.vo.DayStatisticsVo">
        SELECT    COUNT(a.uid) dayNewUser,a.day time
        FROM      (SELECT  uid,LEFT(create_time,10) day FROM ag_user_channel ) a
        GROUP BY  a.day
        ORDER BY  a.day DESC
    </select>
    <!--用于分页:纪录中的总日期数-->
    <select id="selectDayStatisticsDayByDayNums" resultType="Integer">
        SELECT    COUNT(a.day)
        FROM      (SELECT   LEFT(create_time,10) day FROM ag_user_channel GROUP BY LEFT(create_time,10))a ;
    </select>

    <!--查询出所有不同的包名+渠道名 的组合-->
    <select id="getAllPackageChannelCombination" resultType="com.aigou.oss.model.vo.PackageChannelDetailVo">
        SELECT    package_name packageName,channel_name  channelName
        FROM      ag_user_channel
        GROUP BY  package_name,channel_name;
    </select>


</mapper>