<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="go_app_pay">

    <!--获取所有支付 列表-->
    <select id="getAllPay" resultMap="BaseResultMap">
        <include refid="go_app_pay.SELECT_All_Column"/>
        FROM    go_app_pay
        ORDER   BY    xu
    </select>

</mapper>