<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="go_member_addmoney_record">

    <select id="getTotalRechargeMoneyTotay" resultType="bigDecimal">
        SELECT  SUM(money)
        FROM    go_member_addmoney_record
        WHERE   status LIKE '%已付款%'
        AND time BETWEEN #{startTime,jdbcType=INTEGER} AND #{endTime,jdbcType=INTEGER}
    </select>

    <!--查询目前为止 总充值-->
    <select id="selectTotalMoneyUtilNow" resultType="bigDecimal">
        SELECT  SUM(money)
        FROM    go_member_addmoney_record
        WHERE   status LIKE '%已付款%'
    </select>
</mapper>