.separator_line {
    margin-top: 10px;
    height: 1px;
    background-color: #CCCCCC;
}
.table tbody td{text-align: center; white-space:nowrap;}
td img {
    width: 50px;
    height: 50px;
}
.muti_box li {
    float: left;
}

.muti_box li img {
    width: 50px;
    height: 50px;
}